.hero {
  background-color: $veryLightGray;
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
      // gap: ;
    }
  img{
    border-radius: 5000px;
    width: 14rem;
     margin-left: auto;
   }
  @media screen and (max-width:800px) {
    .container{
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;

    }
    img{
      border-radius: 5000px;
      width: 14rem;
      margin-bottom: -4rem;
      position: inherit;
      float: inline-end;
      }
    
  }
   



   

  &__text {
    text-align: center;

    @include breakpoint-up(800px){
 
      text-align: left;
    }

    
  }
 
  
}